@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');
@import "tailwindcss";

.nanum-gothic-regular {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nanum-gothic-bold {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.form-block {
  @apply w-full rounded-xl bg-white p-[1vw] shadow-[0px_2px_4px_2px_rgba(0,_0,_0,_0.1)] mb-[clamp(2px,2vw,8px)] flex flex-col;
}